[2019-05-27 15:59] dddejan opened #1 "Unsupported features"
This issues tracks all yet unsupported features, with notes.

Fixes or discussion for individual issues in separate issues.

### Solidity Features

#### Function types

Error: `Boogie error: Unsupported type: 'function'`
test/libsolidity/syntaxTests/bound/bound_all.sol

Error: `Error: undeclared identifier: f#11`
test/libsolidity/syntaxTests/functionTypes/external_function_type_to_address.sol

###

[2019-05-27 18:32] dddejan opened #2 "Assignments of fixed-size bytes and string is not supported"
- test/libsolidity/syntaxTests/modifiers/function_modifier_invocation_parameters.sol
- test/libsolidity/syntaxTests/modifiers/function_modifier_invocation.sol

[code]

[code]

[2019-05-27 18:48] dddejan opened #3 "Error: right-hand side in map store with wrong type: int (expected: address_t)"
Running on `test/libsolidity/syntaxTests/types/cyclic_dependency_check_on_consts_good.sol` results in `Error: right-hand side in map store with wrong type: int (expected: address_t)`.

[2019-05-27 18:50] dddejan opened #4 "Error: branches of if-then-else have incompatible types int and bool"
Running on `test/libsolidity/syntaxTests/types/index_access_for_bytes.sol`

[code]

Results in
[code]

[2019-05-27 18:53] dddejan opened #5 "Throw in function void boost::multiprecision::backends::cpp_int_backend"
[code]

Result:

[code]

[2019-05-27 18:55] dddejan commented on #5
Also

[code]

Result:

[code]

[2019-05-27 19:21] dddejan opened #6 "Implicit conversion from storage to memory when returning struct"
[code]

Error:

[code]

[2019-05-27 19:36] dddejan opened #7 "Boogie error: Unsupported conversion to address"
[code]

Error:
[code]

[2019-05-27 19:40] dddejan opened #8 "Error: undeclared identifier: test"
[code]

Error:
[code]

[2019-05-27 19:42] dddejan opened #9 "Error: undeclared identifier: new"
[code]

Error:

[code]

[2019-05-27 19:48] dddejan opened #10 "Throw in function static unsigned int dev::solidity::ASTBoogieUtils::getBits"
In `test/libsolidity/syntaxTests/nameAndTypeResolution/288_conditional_with_all_types.sol`

Error:
[code]

[2019-05-27 19:52] dddejan opened #11 "Error: invalid type for argument 0 in call to g#23: int (expected: address_t)"
[code]

Error:

[code]

[2019-05-27 19:54] dddejan opened #12 "Error: number of left-hand sides does not match number of right-hand sides"
[code]

Error:

[code]

[2019-05-27 20:23] dddejan opened #13 "Error: right-hand side in map store with wrong type: string_t (expected: [int]int)"
[code]

Error:

[code]

[2019-05-27 20:28] dddejan opened #14 "Boogie error: Only identifiers are supported as function calls"
Error:

[code]

[2019-05-27 20:29] dddejan opened #15 "Error: call to undeclared procedure: __constructor#1"
[code]

Error:

[code]

[2019-05-27 20:31] dddejan opened #16 "Local storage pointers are not supported"
[code]

Error:

[code]

[2019-05-27 20:48] dddejan opened #17 "Function comparison is not supported"
Although we don't support functions, an appropriate message should be reported

[code]

Error:

[code]

[2019-05-27 20:51] dddejan opened #18 "std::exception::what: Unexpected character encountered in input."
[code]

Error:

[code]
[code]

[2019-05-27 20:53] dddejan opened #19 "Error: mismatched types in assignment command (cannot assign [address_t]int to int)"
[code]

Error:
[code]

[2019-05-27 21:10] dddejan opened #20 "std::exception::what: Unexpected character encountered in input"
[code]

Error:
[code]

[2019-05-27 21:12] dddejan opened #21 "Array error in Boogie"
[code]

Error:
[code]

[2019-05-27 21:15] dddejan opened #22 "Boogie error: Unsupported modifier invocation"
[code]

Error:
[code]

[2019-06-04 18:22] hajduakos opened #23 "Enum advanced features"
Basic cases for enums are supported since a386c451, but some advanced features are missing:

- [x] Encoding of enums (including conversions) in bitvector mode
- [x] TCCs for enums when converting to integer (e.g., we know that an enum with 4 members will be in range [0, 3]

[2019-06-04 18:45] hajduakos commented on #3
Fixed in c2e0f1cad2acb0178ecd65b9ad2e90df19fbcd9a

[2019-06-04 20:04] hajduakos commented on #9
State variable initializers can add new declarations, which were not included in the constructors, fixed in 1e27783

[2019-06-04 21:20] hajduakos commented on #14
Fixed in 542c5e4

[2019-06-04 22:05] hajduakos commented on #20
Fixed in bd45143 by supporting advanced int literals

[2019-06-05 19:10] hajduakos commented on #23
Done by ced29cb, we have some simple test cases, but might need more later based on how enums (especially conversions) are actually used

[2019-06-05 19:10] #23 closed, assigned to nobody

[2019-06-05 21:20] hajduakos commented on #22
Added a more meaningful error message in 6e71acf

[2019-06-06 19:15] dddejan commented on #3
Running on the file now I get:

[code]

This is unexpected.

[2019-06-06 19:19] dddejan opened #24 "Order of evaluation during construction"
Running on the file now I get:

[code]

This is unexpected.

_Originally posted by @dddejan in https://github.com/SRI-CSL/solidity/issues/3#issuecomment-499630181_

[2019-06-06 19:19] #3 closed, assigned to nobody

[2019-06-06 19:31] hajduakos commented on #24
Interestingly, this only holds for constants:
[code]

For non-constant variables the order seems to be the same as they are defined (e.g., `x` is initialized with the yet uninitialized value `0` of `y`).

[code]

The compiler can warn about cyclical dependencies between constants, so there should be some way of getting this info and using it to initialize constants.

[2019-06-06 19:33] #14 closed, assigned to nobody

[2019-06-06 19:33] dddejan commented on #14
I see in the translation that the library multiplication is translated into

[code]

My understanding of Solidity is that there is no need for __this and other special members. By solidity docs "t can only access state variables of the calling contract if they are explicitly supplied".

[2019-06-06 19:34] dddejan opened #25 "Optimize encoding of library functions"
I see in the translation that the library multiplication is translated into

[code]

My understanding of Solidity is that there is no need for __this and other special members. By solidity docs "t can only access state variables of the calling contract if they are explicitly supplied".

_Originally posted by @dddejan in https://github.com/SRI-CSL/solidity/issues/14#issuecomment-499636452_

[2019-06-06 19:38] dddejan commented on #24
Yeah, seems so. Fairly new for now.

https://solidity.readthedocs.io/en/v0.5.9/contracts.html#constant-state-variables

[2019-06-06 19:45] #20 closed, assigned to nobody

[2019-06-06 20:07] #9 closed, assigned to nobody

[2019-06-06 20:32] hajduakos commented on #24
There is a `PostTypeChecker` class which internally builds a dependency graph for constants and checks for cycles. However, this information does not seem to be persisted for later passes (e.g., as AST annotations). Based on the documentation, every occurrence of the constant is simply replaced by its respective initializer expression. We can also do the same in the translation: we do not introduc

[2019-06-06 20:40] hajduakos commented on #24
We don't actually even need a map. If an identifier references a constant, we can get the declaration and get its initializer expression. Then, instead of translating the identifier, we translate the expression.

[2019-06-06 20:52] hajduakos commented on #24
Implemented inlining in c44b9091851557c3984065e86b447a0b0ab1da84

[2019-06-06 23:24] dddejan commented on #24
Great, the inlining is exactly what's needed and makes the checks pass even for the main function!

[2019-06-06 23:24] #24 closed, assigned to nobody

[2019-06-06 23:33] dddejan commented on #11
Fixed with #3

[2019-06-06 23:33] #11 closed, assigned to nobody

[2019-06-06 23:49] dddejan commented on #12
The issue here is that RHS of the assignment. It is visited by `ASTBoogieExpressionConverter::visit(TupleExpression const&)`.

Simpler example

[code]

[2019-06-11 21:16] hajduakos opened #26 "Modifies specification for multiple indexes"
Currently we do not support multiple indexes in modifies specs, but it would be a nice feature to have, e.g., for functions transferring tokens

[2019-06-12 19:45] dddejan commented on #5
We now have a type error in boogie to fix:

[code]

[2019-06-12 19:45] #5 closed, assigned to nobody

[2019-06-12 19:45] dddejan opened #27 "Function arguments are not mutable"
We now have a type error in boogie to fix:

[code]

_Originally posted by @dddejan in https://github.com/SRI-CSL/solidity/issues/5#issuecomment-501428136_

[2019-06-12 19:53] hajduakos commented on #27
The issue here is that in Solidity you can assign to function parameters, but in Boogie they are immutable. One way to fix this is to make copies at the beginning of the function. The other is to not support such assignments. In general it is considered as a bad practice, VS code should also give a warning: https://ethereum.stackexchange.com/questions/59128/error-security-no-assign-param-avoid-ass

[2019-06-12 20:05] dddejan commented on #27
Can you give a link to why/where it is considered bad practice?

I feel this is pretty arbitrary, and it's quite common to reuse variables in general programming languages.

I would supporting this as long as the compiler doesn't disallow it.

[2019-06-12 20:31] hajduakos commented on #27
There used to be a rule in the default linter for VS code: https://github.com/duaraghav8/solium-plugin-security#list-of-rules, I also remember getting the warning. But now I cannot reproduce it. Seems like they don't have it in the latest version: https://ethlint.readthedocs.io/en/latest/user-guide.html#list-of-style-rules . But I've also seen it in e.g. PMD (for Java): https://pmd.github.io/lates

[2019-06-12 20:50] dddejan commented on #12
Issue #21 is related to this. Basically array literals should be allocated in memory.

[2019-06-12 21:04] #4 closed, assigned to nobody

[2019-06-12 23:31] dddejan commented on #18
Fixed constant literals, now the error becomes

[code]

[2019-06-12 23:31] #18 closed, assigned to nobody

[2019-06-12 23:31] dddejan opened #28 "Boogie error: Tuples are not supported"
Fixed constant literals, now the error becomes

[code]

_Originally posted by @dddejan in https://github.com/SRI-CSL/solidity/issues/18#issuecomment-501491642_

[2019-06-13 00:07] dddejan opened #29 "Error: more than one declaration of variable name: __this"
Running on

[code]

Results in

[code]

[2019-06-14 21:25] hajduakos commented on #29
Fixed it in 11b8439f9a2b90f00bb7d11f71c3709ee09ab1b6, also extended the example with functions and structures having conflicting names. Seems like the compiler also checks for magic vars, and then just compares strings: https://github.com/ethereum/solidity/blob/e78500a1994a8dec7f328d4ad8764e79c80b2faf/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L781

[2019-06-14 21:51] hajduakos commented on #15
Fixed in c27d5bc4f7ad824872b930ed28509cb1b227ca73

[2019-06-14 23:06] #15 closed, assigned to nobody

[2019-06-14 23:08] #29 closed, assigned to nobody

[2019-06-17 22:05] hajduakos commented on #26
Implemented in d807155d2c00a933e294cdd0522852cbe9fe7a46

[2019-06-17 22:05] #26 closed, assigned to nobody

[2019-07-01 18:22] michael-emmi opened #30 "Could not find generated BPL file with imports."
This should be mostly self-explanatory: when imports are used, it looks like `solc-verify.py` generates a Boogie file named for the first-imported source module, rather than the source module to be verified, and fails to find it.

[code]

[2019-07-01 19:05] hajduakos commented on #30
Fixed in f6a43ae1dc93f7c9c6d794fbd4f7175f3bd6d9cf, @michael-emmi check if it works for you as well

[2019-07-01 20:24] michael-emmi commented on #30
👍

[2019-07-01 20:25] #30 closed, assigned to hajduakos

[2019-07-01 20:37] michael-emmi opened #31 "Invalid code for method calls from explicit base contract."
The following code seems valid, but it’s translation is not.
[code]

[2019-07-01 20:40] dddejan commented on #31
Related to #17

[2019-07-01 20:47] dddejan commented on #31
Related to #8

[2019-07-01 20:53] michael-emmi commented on #31
Ah yes, this is exactly the same as #8

[2019-07-02 13:18] hajduakos commented on #8
Fixed in  edf951f

[2019-07-02 13:19] hajduakos commented on #31
Well, not 100% the same, because #8 uses explicit scoping on the current contract and this one uses explicit scoping on the base. But both are fixed in  edf951f. Also, `super.f()` is supported.

[2019-07-02 14:08] michael-emmi opened #32 "Invalid translation of specifications with fields qualified by contract name."
[code]

[2019-07-02 15:21] hajduakos commented on #32
Fixed in 5616bff

[2019-07-02 15:25] #31 closed, assigned to hajduakos

[2019-07-02 15:26] #32 closed, assigned to nobody

[2019-07-02 15:32] #8 closed, assigned to nobody

[2019-07-02 15:33] dddejan commented on #7
This was also fixed earlier with addresses as ints.

[2019-07-02 15:33] #7 closed, assigned to nobody

[2019-07-02 15:46] michael-emmi opened #33 "Qualified field names in modifies spec."
[code]

[2019-07-02 17:51] hajduakos commented on #33
Fixed in 383f090. Actually, we haven't tried `modifies` specs in presence of inheritance before and it was buggy (you could modify variables of base contracts even if not specified for modification). I fixed this issue as well.

[2019-07-02 18:35] michael-emmi opened #34 "Missing invocations to base constructors."
[code]

[2019-07-03 14:30] dddejan opened #35 "Base constant access fail"
[code]

Returns

[code]

[2019-07-03 15:13] hajduakos commented on #35
Fixed in  37886f6

[2019-07-03 15:13] #35 closed, assigned to hajduakos

[2019-07-03 21:29] hajduakos commented on #34
This is work in progress, as of f9efd13 we now inline the body of base constructors so this example should work. Being able to pass arguments for the base constructors is coming soon.

[2019-07-03 22:06] hajduakos commented on #34
Base constructor arguments are also implemented in 8a9fe1d

It works for simple cases like the following (arguments provided either in inheritance list or as modifiers): https://github.com/SRI-CSL/solidity/blob/8a9fe1d7995a97a82ab6c4cbc4e85f5308214cab/test/solc-verify/InheritanceBaseConstructorArgs.sol, but needs some more tests for complex cases

[2019-07-05 14:47] hajduakos commented on #34
It does not yet work for cases when the base constructor has modifiers (that will require some extra inlining job), but instead of silently ignoring it, there is an appropriate error message.

[2019-07-05 14:47] hajduakos commented on #34
However, I think this issue can be closed as the base constructor call is not missing anymore. There might be errors, but we can open separate issues for those.

[2019-07-05 20:27] hajduakos opened #36 "Constant propagation for negative numbers"
RationalNumberType always returns an unsigned result. If the number is negative, we have to convert it. For example, the result of `2-3` on 8 bits is `255`.

[2019-07-05 20:30] hajduakos commented on #36
Fixed in 265665b

[2019-07-05 20:56] hajduakos commented on #22
Fixed in de5efb6. Didn't add this example as a test case because `BaseConstructorWithModifiers.sol` covers it.

[2019-07-05 20:57] hajduakos commented on #34
Base constructors with modifiers are also working as of de5efb6.

[2019-07-05 20:59] #22 closed, assigned to dddejan

[2019-07-08 14:20] #36 closed, assigned to dddejan

[2019-07-08 14:35] dddejan commented on #34
I added a new test case failing with constructors

[code]

[2019-07-08 14:51] #33 closed, assigned to nobody

[2019-07-08 18:16] dddejan commented on #34
[code]

[2019-07-08 18:16] dddejan opened #37 "Modifiers inlined with wrong parameters"
[code]

_Originally posted by @dddejan in https://github.com/SRI-CSL/solidity/issues/34#issuecomment-509335323_

[2019-07-08 18:17] #34 closed, assigned to nobody

[2019-07-10 18:29] dddejan commented on #37
This was a mistake

[2019-07-10 18:29] #37 closed, assigned to nobody

[2019-07-11 20:10] dddejan opened #38 "Figure out timeouts in circelci"
For example

libsolidity/syntaxTests/parsing/scientific_notation.sol ?? [0.076 s]

[2019-07-16 04:06] hajduakos commented on #21
Fixed in 3019039a25fb760b6ef1d621ba106c413f10a250, added test case in 32a0e6230ae464e33c61da11366bd85b32638231

[2019-07-16 20:29] #21 closed, assigned to dddejan

[2019-07-16 20:34] #19 closed, assigned to nobody

[2019-07-16 20:36] #13 closed, assigned to nobody

[2019-07-16 20:37] #12 closed, assigned to nobody

[2019-07-17 18:28] #28 closed, assigned to nobody

[2019-07-18 19:44] dddejan commented on #10
This now only fails with unsupported errors, no exceptions.

[2019-07-18 19:44] #10 closed, assigned to nobody

[2019-07-19 13:39] dddejan commented on #16
This now reports local storage unsupported

[code]

[2019-07-19 14:43] hajduakos opened #39 "Storage struct assignment with mappings"
Currently we translate storage structures to SMT datatypes. Assignments between them are simply translated to assignments between the datatypes, which will make a deep copy. However, in Solidity there is an exception: mappings are not copied.

[code]

Output:
[code]
(The assert should hold.)

[2019-07-22 23:32] dddejan commented on #39
This looks very annoying.

[2019-07-23 00:21] dddejan opened #40 "Tuple assignments on non-value storage variables"
[code]

Passes truffle but running verifier results in:
[code]

[2019-07-23 01:23] hajduakos opened #41 "Tuple assignments done element wise"
Currently, tuple assignments are performed element-wise in a left-to-right order, which gives an incorrect result. Example:
[code]
The assertions should hold in this case, but fail in solc-verify.

[2019-07-23 01:44] hajduakos commented on #41
Fixed in  9185d2d and  b4e41d4

[2019-07-23 02:15] #41 closed, assigned to nobody

[2019-07-24 14:08] hajduakos commented on #6
Fixed in b3295fa, the test case `StructsStorMemCopy.sol` should cover it. We can wait with closing the issue until I merge to the `boogie` branch.

[2019-07-24 23:08] #6 closed, assigned to nobody

[2019-07-31 15:23] hajduakos commented on #16
Common cases (including the example above) should be covered by PR #42

[2019-07-31 19:09] hajduakos opened #43 "Side effect in loop condition"
Side effects in loop conditions have to be included both before the loop and also at the end. Currently only included before the loop.
For example,
[code]
should be
[code]

[2019-07-31 19:13] hajduakos commented on #43
Fixed in 771dffe

[2019-07-31 19:13] #43 closed, assigned to hajduakos

[2019-08-01 20:59] michael-emmi opened #45 "Missing initialization for map variables."
@beillahi and I noticed that the verifier does not assume default initial values for map variables:
[code]
The assumption could be expressed in Boogie like this:
[code]
Seems like a no brainer :-D

[2019-08-01 21:21] dddejan commented on #45
This relies on Z3 specific support for constant arrays.

[2019-08-01 21:24] hajduakos commented on #45
Just tried it with CVC4 (version 1.6):
[code]
Seems to work:
[code]

[2019-08-01 21:32] dddejan commented on #45
I might be wrong, I thought they don't support constant arrays. Can you paste the smt2 output.

[2019-08-01 21:33] hajduakos commented on #45
[code]

[2019-08-01 21:34] dddejan commented on #45
That would be great. Let me do some more checking tonight.

[2019-08-01 21:37] dddejan commented on #45
https://github.com/CVC4/CVC4/issues/1667

[2019-08-02 23:50] hajduakos opened #46 "Nonzero balance in constructor"
The balance of a contract can be nonzero when created (see https://blog.trailofbits.com/2019/07/03/avoiding-smart-contract-gridlock-with-slither/). We should use `assume(balance[this]>=0)` instead of `balance[this] := 0`.

[2019-08-03 02:35] hajduakos opened #47 "Local storage pointers and inheritance"
Depending on the target of verification, the postcondition of `setB0` might or might not hold.
[code]

If we only target `B` without `C`, it should hold. Otherwise it should not.

[2019-08-03 02:56] hajduakos commented on #46
Fixed in 3188c74

[2019-08-03 02:56] #46 closed, assigned to hajduakos

[2019-08-05 19:39] michael-emmi opened #48 "Generalize `__verifier_sum` to mappings of structs."
[code]

This is one of many features mentioned in Issue #1

[2019-08-05 19:56] michael-emmi opened #49 "Undeclared constants in generated Boogie code."
[code]

[2019-08-05 20:44] michael-emmi opened #50 "Unexpected translation"
solc-verify somehow parses and translates the `=>` operator in an illegal position, and generates an expression with only the left-hand side!
[code]
Not clear what should be done here, but perhaps a warning or error would be good.

[2019-08-05 21:01] hajduakos commented on #49
Constants were not inlined when collecting variables of a given type (to initialize arrays/mappings), fixed in 2a85e3a

[2019-08-05 21:01] #49 closed, assigned to hajduakos

[2019-08-06 01:52] hajduakos commented on #45
Tried it for a bit more complicated example with nested maps and data types.
[code]

[2019-08-06 01:56] hajduakos commented on #45
Seems to be working for these hand-made examples, but the hacky part is that we have to assemble these SMT strings "by hand", bypassing the translation of Boogie. This seems a bit fragile for types. For example, Boogie translates a custom datatype `Tx` to `T@Tx`, which we also have to do manually in the SMT formulas.

[2019-08-06 03:41] hajduakos commented on #50
`=>` is not a valid operator in Solidity (there is no implication operator). Since 14a1240 we report an informative error message:
[code]

The problem was that we were reusing the expression parsing method from the compiler, which just looks for the tokens that it is actually expecting and ignores the rest. As far as I've seen in the rest of the parser, it is the responsibility of the parent state

[2019-08-06 03:41] #50 closed, assigned to hajduakos

[2019-08-06 03:46] hajduakos commented on #16
@dddejan I think we can close this general issue now because local storage pointers are working for the common cases. We can open new issues for corner cases (e.g. #47) and bugs.

[2019-08-06 15:14] hajduakos opened #51 "Indexing mappings with literals in bitvector mode"
When a mapping is indexed with a literal in bitvector mode, the literal is not converted to a bitvector, causing type checking errors in the Boogie program.
[code]

[code]

[2019-08-06 15:22] hajduakos commented on #51
Fixed in b503c38

[2019-08-06 15:22] #51 closed, assigned to hajduakos

[2019-08-07 20:41] hajduakos commented on #48
Implemented in cb52cb6

[2019-08-07 20:42] hajduakos commented on #48
Invariant has the form: `/// @notice invariant __verifier_sum_uint(accounts[__verifier_idx_address].balance) == total`

[2019-08-07 20:43] hajduakos opened #52 "Update sum with push and pop"
Sum is not updated when pushing/popping arrays. The following example should be reported correct:
[code]

[2019-08-07 21:15] hajduakos commented on #52
Fixed in ffdb0c7, but we should only close the issue when it is merged

[2019-08-07 21:41] hajduakos commented on #48
Updating a struct via a local pointer is still left to do

[2019-08-08 17:58] hajduakos commented on #48
Done in 8ee9cce

[2019-08-08 21:06] hajduakos opened #53 "Duplicate sum declarations with inheritance"
The following example will result in two conflicting declarations for the sum variable
[code]

[2019-08-08 21:23] hajduakos commented on #53
Fixed in 162ec9e, should close the issue when the branch is merged

[2019-08-08 21:44] hajduakos commented on #45
Implemented in af587c0eb03b0614dbb9514f034ceab53533a891 and seems to be working for examples including nested arrays, mappings, structs and even for simple equalities connecting them. The Boogie specific parts are located in the new `smtname` member of `boogie::TypeDecl` and the `ASTBoogieUtils::defaultValueInternal` function. Although this parts are a bit fragile to changes in Boogie, I prefer th

[2019-08-09 14:00] hajduakos commented on #52
Merged, closing issue

[2019-08-09 14:00] #52 closed, assigned to hajduakos

[2019-08-09 14:01] hajduakos commented on #53
Merged, closing issue

[2019-08-09 14:01] #53 closed, assigned to hajduakos

[2019-08-09 19:13] hajduakos opened #54 "Local storage pointer can only be unpacked if it is an identifier"
[code]

[code]

[2019-08-09 19:23] hajduakos commented on #54
Fixed in 5772ac0

[2019-08-09 19:23] #54 closed, assigned to hajduakos

[2019-08-13 22:10] michael-emmi opened #55 "Comparing memory and storage values."
It’s not clear how we can state postconditions for functions which update storage with memory-typed arguments, as in the following example:
[code]
Perhaps it could be possible to allow comparisons between values whose Boogie-encoded types are comparable? Or maybe some form of casting?

[2019-08-13 22:32] hajduakos commented on #55
This is tricky, because here the Boogie-encoded types are not comparable. A storage array is a datatype of an SMT array and a length, while a memory array is a reference to the former. Dereferencing would work in this case, but arrays/structures could be nested into each other so we would have to do that recursively. We might even automatically do this if the data location of the two arguments is

[2019-08-15 20:51] michael-emmi opened #56 "Overridden virtual functions: internal compile error."
It seems that overriding an inherited virtual function causes a crash!

Not clear whether this is something you want to deal with, since (a) this example also crashes `solc`, and (b) there are probably other practical ways of avoiding the verification of `A.f` — other than deleting its body.

[code]

[2019-08-15 21:48] michael-emmi opened #57 "Unsound translation of calls with specs."
The call to `g` below ought to havoc `x` before assuming its postcondition `x == 0`, but it doesn’t, resulting in the inconsistent state `x == 0 && x > 0`.

[code]

[2019-08-15 21:55] michael-emmi opened #58 "Unable to verify non-decreasing balance."
[code]

[2019-08-15 21:57] michael-emmi opened #59 "Specification of balance modifications."
It would be nice to be able to say that `balance` cannot be changed arbitrarily by the given function.
[code]

[2019-08-15 22:06] hajduakos commented on #59
Seems doable for simple cases (the syntax is actually `address(this).balance` instead of `this(address).balance`). I will try it on a branch soon.

[2019-08-15 22:07] hajduakos commented on #59
The tricky part comes when there is an array of receivers and you want to specify that any of their balance can be modified (probably requires quantifiers).

[2019-08-15 22:12] hajduakos commented on #58
In the default integer mode, `msg.value` is also an integer and can be negative. Try running with `--arithmetic mod`. We were thinking about adding constraints for non-negative integers on a best effort basis. However, now the semantics of the integer mode is clear, everything is an unbounded, signed integer. As soon as we start adding such constraints, it might be hard to keep track. But I am not

[2019-08-16 21:09] michael-emmi commented on #45
Works @beillahi and I!

[2019-08-16 21:09] #45 closed, assigned to nobody

[2019-08-16 21:10] michael-emmi commented on #48
Works for @beillahi and I!

[2019-08-16 21:10] #48 closed, assigned to hajduakos

[2019-08-18 16:38] dddejan commented on #56
@michael-emmi did you report this upstream?

[2019-08-19 15:55] michael-emmi commented on #56
I have not yet. I have seen a related issue ethereum/solidity#5130 which was fixed in ethereum/solidity#5558 in December, but I haven’t determined whether the code we’re using includes ethereum/solidity#5558.

[2019-08-21 18:28] dddejan commented on #56
i added a comment to ethereum#5130, it's basically the same issue but the fix missed this case

[2019-08-21 19:55] hajduakos opened #61 "Separate solver build flags for solc-verify"
Currently, we are relying on the same `USE_CVC4` and `USE_Z3` cmake flags as the built-in SMT checker. However, our dependency on the solvers is more lightweight (we only require binaries), and the SMT solver has been causing build errors recently. It would be nice to be able to separately disable the built-in SMT checker, but still allow solc-verify to find the desired solver.

[2019-08-22 23:57] dddejan commented on #59
Another thing to consider is that the sender's balance is also going to be deduced by the gas amount after the transaction is completed. This could complicate things as we ignore gas consumption at the moment.

[2019-08-26 16:20] hajduakos opened #62 "Internal calls and msg.value"
When a function is called, its `msg.value` is 0 by default. However, if the call is internal (i.e., no EVM call is created, not to be confused with internal visibility), the enclosing `msg.value` should be "forwarded". Example:
[code]
This is also similar to how `msg.sender` is forwarded (which we already fixed in c4c71f6e8afa7206b37d49746e66a0ca2d74f5f5).

[2019-08-26 16:27] hajduakos commented on #25
I removed `this` in bfb22adddab21146134e66729261cac42aa134b2, but `msg.sender` and `msg.value` are needed, see `issues/Issue025.sol`.

[2019-08-26 16:28] hajduakos commented on #62
Fixed in bfb22adddab21146134e66729261cac42aa134b2, @dddejan please check and close

[2019-08-26 17:37] #62 closed, assigned to dddejan, hajduakos

[2019-08-26 18:58] hajduakos commented on #25
@dddejan please check and close

[2019-08-26 21:33] #25 closed, assigned to nobody

[2019-08-27 19:59] michael-emmi opened #63 "Equality of memory arrays from storage copies."
I expected the following to work:
[code]
[code]
[code]
In the generated Boogie code, one can see that the comparison happens on the int-array pointers:
[code]
rather than on the int-arrays they point to:
[code]

[2019-08-27 20:24] michael-emmi opened #64 "How to prove properties involving arrays?"
Proving the postcondition below seems to require expressing that `f1` and `f2` return true if and only if some element of `a1` and `a2` respectively are greater than zero.
[code]
As far as I can tell, `solc-verify` currently has no way to express such things. Is there any hope that some day this kind of thing might be supported?

[2019-08-28 03:56] dddejan commented on #64
I guess you need quantifiers for this.

[2019-08-28 10:39] hajduakos commented on #63
For me this is intuitive, because most programming languages also work this way (like `==` in Java, or comparing pointers in C++). But we can easily make a new function, say `verifier_content_eq` which will compare the contents of the references. (Or we can just make the current `verifier_eq` to work this way, but I think it is still useful to have an operator that can compare references.)

One is

[2019-08-28 13:57] michael-emmi commented on #63
Ah, good point. Would a dereferencing operator make sense in that case?

[2019-08-28 14:20] hajduakos commented on #63
Yes, I was also thinking about some dereferencing operator, like `__verifier_eq(deref(r1), deref(r2))`. That could also help when comparing memory with storage (#55), because you could just derefer one argument (`__verifier_eq(deref(r1), a1)`). @dddejan any thoughts?

[2019-08-28 14:56] hajduakos opened #65 "Non-special value function"
[code]
solc-verify mistakes the call to `value` to the special `value` function called on payable functions:
[code]

[2019-08-28 15:10] chriseth commented on #56
Tracked in https://github.com/ethereum/solidity/issues/7314

[2019-08-28 16:44] dddejan commented on #63
I think it's a bit more complicated than it seems. The allocation and copying from storage to memory will require treatment of loops to prove anything?

[2019-08-28 21:33] michael-emmi commented on #63
Would copying storage to memory require loops?

In the use case we have at the moment, we want to equate the memory arrays returned by two functions, in which each returns a copy of its respective storage array — and those storage arrays are presumed equal initially.

Given your encoding of arrays as SMT datatypes, this sort of check looks straightforward — only equality reasoning is required.

[2019-08-29 03:00] dddejan commented on #63
In principle yes, for non-basic types. The datatype representation only works for storage, the memory data is all references and copying stuff over is basically done by hand. In this particular case (`int`) it's OK, the memory array contains ints so an SMT2 assignment works. But had the memory array contained a complex type (struct, another array) they will be references and all copying from stora

[2019-08-29 08:17] hajduakos commented on #65
Fixed in 0d8beda286cb4964312ad373e079bc4ddff7fe94

[2019-08-29 08:17] #65 closed, assigned to hajduakos

[2019-09-03 15:50] dddejan commented on #64
@michael-emmi can this be done in SMACK? You would need loop invariant too seems like.

[2019-09-03 15:56] dddejan commented on #40
@hajduakos what is the status of this? I was under the impression that storage references are already implemented. Is it just that semantics have not been updated to use references in tuple assignments?

[2019-09-03 16:34] hajduakos commented on #63
Yes, currently copying between memory and storage arrays is limited to cases where the array elements are primitive types. Making a copy would require a loop with an invariant, possibly with an universal quantifier to say that all elements up to the loop counter are equal (recursively if the elements are again complex types).

In the postconditions, for examples with primitive array elements, a "s

[2019-09-03 16:35] hajduakos commented on #63
For structs deep copy is not an issue because we can do the dereferencing manually as the number of members is compile time constant.

[2019-09-03 17:53] dddejan opened #66 "Segmentation fault (strings default values)"
[code]

from
- `test/libsolidity/syntaxTests/conversion/allowed_conversion_to_string.sol`
- `test/libsolidity/syntaxTests/nameAndTypeResolution/470_specified_storage_no_warn.sol`

stacktrace

[code]

[2019-09-03 18:16] dddejan opened #67 "Recursion in struct definitions"
In many syntax examples there are recursive struct definitions where we currently fail with a segmentation fault.

- `test/libsolidity/syntaxTests/parsing/mapping_in_struct.sol`: mapping value type is the structure containing the mapping

[code]

- `test/libsolidity/syntaxTests/parsing/mapping_in_struct.sol`: struct contains an array of structs
- `test/libsolidity/syntaxTests/structs/recursion/str

[2019-09-03 18:24] dddejan opened #68 "Support for abi functions (abi.encode, abi.decode)"
In `test/libsolidity/syntaxTests/specialFunctions/abidecode/abi_decode_memory_v2.sol`

[code]

The AST goes into parsing the indexed expression `uint[][2]` and fails in L1133 of ASTBoogieExpressionConverter.cpp:

[code]

So yes, it can be nullptr :)

We don't support the abi.decode and type parsing yet, but we should try not to segfault.

[2019-09-03 20:00] hajduakos commented on #40
Done in a1619c4a3bb3f067227141210449b8e3784156f1, will do some cleanup and then merge

[2019-09-03 23:45] michael-emmi commented on #64
Smack has never attempted this kind of thing, but it would indeed use quantifiers to express such specs (and loop invariants to verify the specs).

The issue I intended to raise seems independent from loop invariants: I’d like to be able to write specs for `f1` and `f2` which can be used by `g`. Of course verifying those specs will require loop invariants, but that seems like a separate issue. My

[2019-09-04 00:11] dddejan commented on #64
Yes, this would fall within the array property fragment that most likely Z3 and CVC4 support (i.e., can decide with suitable options). I somehow assumed you don't want to write the loop invariants, but if you do then it could be interesting to play with.

[2019-09-05 16:20] hajduakos opened #69 "Overflow in implicit constructor"
Seems like we don't assume no overflow in the beginning of the implicit constructor

[2019-09-05 17:11] hajduakos commented on #64
We discussed with @dddejan that instead of allowing quantifiers in general, we could come up with some syntax limited to these kind of array properties that are decidable.

[2019-09-05 17:19] hajduakos commented on #59
As discussed, we could have it with a warning that we are not considering balance modifications due to gas costs, miner rewards, etc.

[2019-09-06 14:36] dddejan commented on #64
Since we already have

[code]

we could add an array property predicate such as e.g.

[code]

Arguments:
1. index guard:  predicate over index (index guard)
2. value constraint: predicate over index and array, where index is to be used only to index the array

For more details: http://theory.stanford.edu/~arbrad/papers/arrays.pdf

As this is becoming more common, we really need to figure some bett

[2019-09-09 13:22] hajduakos commented on #40
Merged in b3d28ca, @dddejan please check and close

[2019-09-09 14:47] #40 closed, assigned to hajduakos

[2019-09-09 14:49] #69 closed, assigned to hajduakos

[2019-09-09 14:49] hajduakos commented on #69
Fixed in 533d95826cd174ceae3709f29d89aacfb1472058

[2019-09-09 15:33] #16 closed, assigned to nobody

[2019-09-12 13:17] hajduakos commented on #59
Done with #70

[2019-09-12 15:11] hajduakos commented on #57
I believe this issue also holds when a function cannot be translated due to an unsupported feature.

[2019-09-12 15:40] dddejan commented on #59
@michael-emmi please check and close issue if OK

[2019-09-12 15:51] hajduakos opened #71 "Extend readme with interpreting results"
E.g., what does 'verified', 'error', 'skipped', 'inconclusive', etc. exactly mean.

[2019-09-13 22:26] hajduakos commented on #66
Fixed in ac8ecd9a77301eb3efc4c4fa542f3241bb7a9e9d with a warning that string default values are not yet supported

[2019-09-14 22:08] hajduakos commented on #57
Fixed in d5fdea1dd82273aec38252ce4a013629370c5bac

[2019-09-14 22:33] hajduakos opened #73 "Inconsistent postconditions"
While #57 was fixed by havocing the variables, the developer can still introduce inconsistencies (e.g. by mistake) with the postconditions of unimplemented/skipped functions:
[code]
The code above will not report any error due to the postconditions being assumed and being inconsistent with `x = 1` before the function. If there was some "real" code instead of `assert(false)` the developer would fal

[2019-09-15 09:18] hajduakos commented on #57
@michael-emmi please check and close issue if OK

[2019-09-15 13:54] dddejan opened #74 "Mapping key types are memory"
By solidity docs, the only non-primitive types that can be used as keys in a mapping are `bytes` and `strings`. In our current model of storage these keys should be represented as SMT arrays which should all work out. But, the solidity compiler marks the non-primitive types of mappings as `memory`, which leads to errors.

[code]

Running verifier on this gives

[code]

For the compiler it doesn't

[2019-09-15 13:56] dddejan commented on #74
Relevant code in the compiler at

https://github.com/SRI-CSL/solidity/blob/a1ec1755fdd40a676ef235026890fe1d7be46634/libsolidity/analysis/ReferencesResolver.cpp#L229-L238

[2019-09-15 14:18] dddejan commented on #74
Attempt for fix at branch keys-are-memory, @hajduakos please take a look.

[2019-09-16 09:46] hajduakos commented on #74
05bb5672289914fb70e90e1204d544aa5d48899c looks fine to me. I also used the `TypeProvider` at other places in the code to convert between memory/storage types.

[2019-09-16 14:29] #74 closed, assigned to dddejan, hajduakos

[2019-09-16 15:06] dddejan opened #76 "Struct constructors not handleding named parameters in the right order"
[code]

Running verifier returns

[code]

[2019-09-16 19:11] dddejan commented on #76
Problematic snippet

https://github.com/SRI-CSL/solidity/blob/0365ac12f8fae6d65badbb0437b560dd78d4dc7d/libsolidity/boogie/ASTBoogieExpressionConverter.cpp#L746-L760

[2019-09-16 19:18] dddejan commented on #76
The `args` in the call to functionCallNewStructs should be sorted according to the declared order of arguments. For hints how to navigate this see https://github.com/SRI-CSL/solidity/blob/0365ac12f8fae6d65badbb0437b560dd78d4dc7d/libsolidity/analysis/TypeChecker.cpp#L1757

[2019-09-16 22:40] hajduakos commented on #76
Nice catch. It is not specific to struct constructors, you can use named arguments in general for function calls (struct constructors are a special case). Fixed for the general case in 6bcefc04bed0f69cbd6546f4db9fab68c18d9c89

[2019-09-16 23:11] #76 closed, assigned to hajduakos

[2019-09-17 13:32] #66 closed, assigned to nobody

[2019-09-17 14:08] dddejan opened #77 "Spurious overflow report (array length after push)"
[code]

When running the verifier we get

[code]

[2019-09-17 15:32] hajduakos commented on #68
Error message instead of segfault since e361539614c39630030e6f85de9ac1dbdc7ebe5a

[2019-09-17 17:10] hajduakos commented on #77
Fixed in 2d1909e1eaa430ed79b92d966d52f1583754b658. TCCs for array length were not assumed (i.e., could have been `-1`) and the overflow conditions for incrementing were assumed in the wrong place. Added a test case as well.

[2019-09-17 18:03] #77 closed, assigned to hajduakos

[2019-09-17 19:23] dddejan opened #78 "Function calls in specifications (modifies, require, assert)"
Using functions as getters is quite common and it would be good to support them in specs, such as `modifies` or `require`. The following currently fails for two reasons:

1. modifies spec fails because it introduces new statements
2. require just puts `true` in the assume

[code]

Current output

[code]

[2019-09-17 20:23] dddejan opened #79 "Applying library to storage type"
[code]

Currently results in

[code]

[2019-09-17 20:37] dddejan opened #80 "Specifying library with storage references"
While we can specify library functions if the function operates on storage references the encoding will fail.

[code]

In above example, L1 passes OK, while L2 fails with

[code]

[2019-09-18 01:52] michael-emmi commented on #57
This seems basically OK now, but there’s still something weird happening with postconditions.

Consider the following program, where `f` asserts the fact that `g` should establish:
[code]
Yet the verifier says that `f` is incorrect.

[2019-09-18 01:56] michael-emmi commented on #59
Works like a charm now!

[2019-09-18 01:56] #59 closed, assigned to nobody

[2019-09-18 08:05] hajduakos commented on #57
I believe there are some mistakes in the example.
1. `@notice free postcondition` seems like a mistake, `free` should be removed in order for the verifier to treat the expression as a postcondition.
2. `g` has an empty body, which of course does not satisfy the postcondition. If you want it to be skipped, the body should be omitted: `function g() public;`.
3. `f` calls `g`, which modifies `x` so `

[2019-09-18 09:26] hajduakos commented on #78
To me (2) seems to work: `require(!isSet());` is translated to a function call and an assume. However, the function call also introduces an extra `assume ... true` with traceability information. Is it possible that you overlooked the "real" assume?

[2019-09-18 09:43] hajduakos commented on #78
(1) is a good question. Strictly speaking in the terminology of Solidity, this is actually not a getter and we do support "real" getters (see `test/solc-verify/specs/Getter.sol`). But I see your point. Such "simple" functions could be translated to Boogie functions (instead of procedures) and then they could appear as part of an expression in the specs. Two questions:

1a. Who should decide if a S

[2019-09-18 11:28] hajduakos commented on #68
@dddejan please check and close issue / remove bug label

[2019-09-18 13:21] dddejan commented on #68
Will keep this open to track support for `abi.*` functions.

[2019-09-18 13:33] dddejan commented on #78
True, I think I simplified the case too much. Consider a bit more complex contract.

[code]

Here we get

[code]

Somehow the call to the view function doesn't cary over that nothing gets modified. Is that a separate issue: "view functions should have modifies none spec"?

I was thinking that when `modifies` clauses exist in the spec of some function, we assume `modifies none` spec for other funct

[2019-09-18 13:36] dddejan commented on #78
I see. Maybe best to just require the users to specify their manually implemented getters. For example, in the more complex example, have the spec `@notice returns marked[msg.sender]`.

[2019-09-18 13:47] hajduakos commented on #78
This makes sense to me as default. Any arguments against?

[2019-09-18 13:50] dddejan commented on #78
Ah, somehow my reply turned into an edit :(

[2019-09-18 13:52] hajduakos commented on #78
Here is the fixed example again:
[code]

You need specs for `isMarked` because it is public and the modifies clause needs `old(...)`.

[2019-09-18 13:53] hajduakos commented on #78
Makes sense, I will fix that

[2019-09-18 13:55] dddejan commented on #78
Yes, above works and it doesn't need the postcondition on isMarked().

I guess the solution is to
1. have function annotation for `returns`
2. use this annotation is function is used in specs and doesn't modify state

[2019-09-18 14:03] hajduakos opened #81 "Conditional part of modifies should refer to old value"
Currently, the `if` part of a `modifies` spec is directly translated into a postcondition, meaning that it will refer to the new values (unless manually adding `old(...)`). As discussed in #78, it should refer to the old values by default.

For example, this should not fail:
[code]

[2019-09-18 14:07] hajduakos commented on #81
Don't forget to update docs

[2019-09-18 14:25] hajduakos commented on #81
Done in 82ded5d2043b594415abe8c188ed4bae8e5e86aa

@beillahi @michael-emmi this is some slight change to the annotation language. If you have `modifies VAR if COND`, then variables in `COND` will refer to the old values.

[2019-09-18 15:31] dddejan commented on #38
@hajduakos let's try https://circleci.com/docs/2.0/ssh-access-jobs/ next time it timeouts.

[2019-09-18 15:38] hajduakos commented on #79
Fixed in 686bac14c9475452899e6430b6230e1286b9aae5

[2019-09-18 15:40] #79 closed, assigned to hajduakos

[2019-09-18 21:00] hajduakos commented on #80
Done in 6e51436cb725abe30553388492bf5ed612fc622b by adding a default array to point to.

[2019-09-18 21:33] michael-emmi commented on #81
Does that mean that there’s no way to say that something changed depending on the return value?

That situation actually something common to many APIs like collections. For instance, the Boolean return value of a Set.add operation would reflect whether the set changed. It might be nice to say that nothing was modified unless the return value is true. The condition would be more difficult to captur

[2019-09-18 22:00] hajduakos commented on #81
Return value is a good point. But for the rest of the variables, preconditions make more sense to me. What about introducing two kind of conditions:
- `modifies VAR if pre COND`
- `modifies VAR if post COND`

This would also allow mixed pre/postconditions by using `post` in combination with `old(...)`.

@dddejan ?

[2019-09-19 15:39] dddejan commented on #81
Would it be ok to have the if condition over
- old values of state variables, and
- return value.

I feel that talking about modification where condition is using new values is somehow confusingly self-referential.

[2019-09-19 15:48] #80 closed, assigned to hajduakos

[2019-09-19 15:58] hajduakos opened #82 "Modifies specs for libraries with local storage pointers"
While we can add specs to libraries with local storage pointers, modifies specs are not yet working for them, because they are bound to state variables. Seems to be extendable to function parameters with local storage type, but requires a few hours.

Currently we show a warning that it is ignored:
[code]

[2019-09-19 16:00] dddejan commented on #58
We should just move the default integer encoding to mod.

[2019-09-19 18:57] hajduakos opened #83 "TCCs of postconditions"
If a function has a postcondition, TCCs for the range of its variables will be asserted. However, if there are no preconditions, TCCs will not be assumed and the variables can be already out of range before the function.
[code]

[code]

[2019-09-19 19:02] hajduakos opened #84 "TCCs for member access"
TCCs are not assumed for member access.

[code]

Here, `s.x` is unsigned so the assertion should hold, but solc-verify fails even running with `--arithmetic mod`.

[2019-09-19 19:10] hajduakos opened #85 "Old expression casts to 256 bit"
Currently we have two old(...) expressions, taking/returning int256 and int256 respectively, casting smaller integers to bigger ones. This might cause problems as demonstrated by the example:
[code]
Running the example with `--arithmetic mod` solc-verify fails to prove the postcondition because `x++` is calculated modulo 2^40 but `__verifier_old_uint(x) + 1` is calculated modulo 2^256.

We could c

[2019-09-19 19:25] hajduakos commented on #84
Fixed in 0680fa26584ac0417766828d15c71ebcb3a1e43d

[2019-09-19 19:25] #84 closed, assigned to hajduakos

[2019-09-19 19:28] dddejan commented on #82
Is there some compelling example for this?

[2019-09-19 19:31] hajduakos commented on #82
https://github.com/OpenZeppelin/openzeppelin-contracts/blob/54182bf31c78fb1b16dfdce40fc9a6a177cb3bca/contracts/access/Roles.sol#L12-L18

We might want to say for `add` that `modifies role.bearer[account] if !role.bearer[account]`.

[2019-09-19 20:06] hajduakos commented on #83
Fixed in 6c977281f6cf02e144486ce210903de895c4e661

[2019-09-19 20:06] #83 closed, assigned to hajduakos

[2019-09-20 14:52] zhao-nan opened #86 "Build failure due to incomplete type"
Building (as described in SOLC-VERIFY-README.md) fails with the following error message:
[code]

Could you give any tips on why this happens? Is a specific version of z3 needed?
Best regards and greetings from Karlsruhe,
Jonas

[2019-09-20 15:13] dddejan commented on #86
Related to #61

Thanks for reporting.

This is an issue with the upstream solidity compiler which has support for some analysis using SMT solvers. They might require a recent version of the Z3 to use the horn solver (CHC) from Z3.
In their [cmake](https://github.com/SRI-CSL/solidity/blob/6c977281f6cf02e144486ce210903de895c4e661/libsolidity/CMakeLists.txt#L129-L136) setup they require at least Z3 4

[2019-09-20 15:16] hajduakos commented on #86
Hey Jonas! This is because the compiler has some built in smt checker which relies on Z3 libraries but your system probably has some incompatible version. Try adding `-DUSE_Z3=Off` to the `cmake` command. If you have the CVC4 binaries as described in our readme, our tool will detect it and should work with it.

[2019-09-24 13:12] michael-emmi commented on #58
It succeeds with `--artihmetic mod`, but why should it work actually (?) when the pre-value of `balance` could be so large so that the post-value overflew. Looking again, I would have expected a precondition that `balance` and `msg.value` are not too large.

[2019-09-24 13:14] michael-emmi commented on #81
That sounds reasonable to me.

[2019-09-24 13:21] michael-emmi commented on #57
Oh apologies, my confusion was actually due to the `free` syntax, which I’d somehow assumed that you supported — it was actually not a typo :-) in Boogie this let’s you say that a postcondition should be used without having to prove its validity, e.g., for cases when the prover is not able to establish it due to reasoning limits.

So in summary, the example is what I intended, but you guys don’t s

[2019-09-24 13:21] #57 closed, assigned to hajduakos

[2019-09-24 16:18] zhao-nan commented on #86
I'm using z3 version 4.8.5 which should be recent enough. Turning z3 off in cmake worked, though (although cmake incorrectly reports that cvc4 is not installed).
I reported the issue upstream as you suggested.
Thanks!

[2019-09-24 16:18] #86 closed, assigned to nobody

[2019-09-28 20:04] hajduakos commented on #58
In `--arithmetic mod` we do have implicit assumptions that balances cannot overflow.

[2019-09-29 13:49] dddejan opened #87 "Deep copy struct from storage to memory with array"
[code]

This gives:

[code]

The fishy part of the translation is

[code]

[2019-09-29 17:42] hajduakos commented on #87
I'm on it. Seems like it is not limited to strings, but to arrays in general. However, it is only an issue from storage to memory, the other direction works (e.g., `StructsArrays.sol`).

[2019-09-29 18:10] hajduakos commented on #87
Fixed in c7c2357c701fa606d1c3bb8bda68007e7f9dafbe. We were trying to copy the array into the member, but that is just a pointer into the global heap of arrays. Fixed it by copying into the global heap (indexed by the pointer).

[2019-09-30 14:16] dddejan opened #88 "Indexing mappings with strings"
[code]

Currently gives

[code]

[2019-09-30 14:17] #87 closed, assigned to hajduakos

[2019-09-30 14:27] dddejan opened #89 "String literal to memory conversion for conditional operator"
[code]

Gives

[code]

[2019-09-30 16:07] hajduakos commented on #88
Fixedin 5c242ddc14c864c41f7087366a99d2b41699d700

[2019-09-30 17:27] #88 closed, assigned to hajduakos

[2019-09-30 20:57] hajduakos commented on #89
This is tricky. Having simply `result = "str";` works, because the LHS is `string memory` and RHS is `string literal`, which we treat as storage and we make the appropriate conversion. However, if there is a conditional expression `x > 0 ? "pos" : "neg"` where both the true and false branch is a `string literal`, the type of the whole expression is not `string literal`, but `string memory` so we d

[2019-09-30 21:04] hajduakos opened #91 "Implicit conversions in conditional operator"
We do not handle implicit conversions if the type of the conditional operator is different than the type of its true or false branch.
[code]
The above fails when running with `--arithmetic bv`:
[code]

Similar to #89

[2019-09-30 21:36] hajduakos commented on #91
Fixed by 12c9952b462d3410b7c72fd86ac7d6a33045d62f

[2019-09-30 21:36] #91 closed, assigned to hajduakos

[2019-09-30 23:54] dddejan commented on #89
Yes. I started treating string literals as storage as it seems more natural. I would also treat the conditional result as storage (i.e. just an ITE over the two values). I think this is sound.

[2019-10-01 06:11] hajduakos commented on #89
I am not sure how that would work out. First, it is the compiler that marks the result as string memory. To override this, we would have to insert checks all over the code where we ask for a type of an expression. Keeping it inside the conditional is more localized. Second, there can be cases where the true branch is a string literal and the false branch is a string memory.

Thus, I would prefer d

[2019-10-01 11:58] hajduakos opened #92 "Conditional with different data locations"
We cannot handle if a conditional has different memory locations for the true/false expression.
[code]

solc-verify produces a Boogie program with incompatible types.

[2019-10-01 11:59] hajduakos commented on #89
See also #92

[2019-10-01 12:02] hajduakos commented on #92
8874404aadc8c8977c4c3fd73fd03309bb43e1d5 fixes it, but it is not yet merged

[2019-10-01 13:14] dddejan commented on #92
What's the type of result when mixing memories?

[2019-10-01 15:50] dddejan opened #93 "Treatment of constants when encoding unsupported functions"
[code]

In the above example we get

[code]

This is because the encoding states the constructor modifies `c`.

[2019-10-01 16:22] hajduakos commented on #93
Fixed in 6e746a72ae38fd7ba3b1684cd0c90a5de7a155ce

[2019-10-01 21:09] #93 closed, assigned to hajduakos

[2019-10-02 11:18] hajduakos commented on #92
The type of the conditional mixing `memory` and `storage` in these cases is `memory`

[2019-10-02 12:12] hajduakos commented on #89
Fixed in cc77d81592c9d077e171cd2e41e17d710c63fa82, but not yet merged

[2019-10-02 13:59] hajduakos commented on #89
@dddejan #94 was merged, please check and close

[2019-10-02 14:00] hajduakos commented on #92
@dddejan #94 was merged, please check and close

[2019-10-02 15:19] #92 closed, assigned to hajduakos

[2019-10-02 15:23] #89 closed, assigned to hajduakos

[2019-10-04 00:15] dddejan opened #95 "Interesting case of dangling storage pointers"
[code]

This Solidity code crashes because dereference when assigning y fails (I think). We need to clarify what's going on in this case.

[2019-10-04 08:17] hajduakos opened #96 "Implement local storage pointer to arrays"
Currently we only have local pointers to structs, but they can also point to arrays. As far as I see, the general idea carries over to arrays as well we just have to implement it. Actually, right now local storage pointers are mapped to data types (as if they were storage), which should instead give an error as long as we don't have the implementation (that's why I marked the issue as a bug for no

[2019-10-04 09:43] hajduakos opened #97 "Default elements when resizing arrays by assigning to length"
When we resize an array by assigning to length, the new elements are not set to their default value (except in the constructor). We should give at least give a warning (bug) as long as it is not implemented (enhancement).
[code]

[code]

[2019-10-04 15:11] hajduakos commented on #97
Warning as of 37ef21f060d333afe642e3f0c0f49fee901b3d89

[2019-10-05 07:13] hajduakos commented on #96
Not yet implemented, but an adequate error is reported since c26ec01ee9e53160d34df752bcea4e08c584fe66

[2019-10-05 16:23] hajduakos opened #98 "Field named balance in specs"
If a modifies spec refers to a field with name `balance`, the tool crashes, probably because we try to treat it as `address.balance`.
[code]

[code]

[2019-10-05 18:00] hajduakos commented on #98
Fixed in de37256

[2019-10-05 18:00] #98 closed, assigned to hajduakos

[2019-10-08 01:39] dddejan commented on #97
Length is planned as read-only in 0.6, so marking this as won't fix.

https://github.com/ethereum/solidity/issues/3515

[2019-10-08 07:42] hajduakos commented on #97
We should not forget to remove the check and the warning message introduced in 37ef21f as it will basically become a dead code.

[2019-10-08 07:43] hajduakos commented on #96
Basic cases should be covered as of 418e7c7, closing this issue now and new issues can be opened if some corner cases have bugs.

[2019-10-08 07:43] #96 closed, assigned to hajduakos

[2019-10-08 14:24] dddejan commented on #97
Yes, we keep open to remind.

[2019-10-10 19:34] dddejan opened #99 "Deep copy of arrays"
[code]

Gives

[code]

It's not clear how we support this. More meaningful error message would be good.

[2019-10-11 12:16] suhabe opened #100 "Can't find solc-verify.py"
Hi,

Where is solc-verify.py? I can't find it in the repo:

[code]

[2019-10-11 12:41] hajduakos commented on #100
Hi,

This file is generated during build. First you have to build the project. See “Build and install” section of the [readme](https://github.com/SRI-CSL/solidity/blob/boogie/SOLC-VERIFY-README.md)

[2019-10-11 12:46] hajduakos commented on #99
I agree. Will add a more meaningful error message until it gets supported

[2019-10-11 12:55] dddejan commented on #100
The source before configuration is `solc-verify.py.in`.

[2019-10-11 13:39] hajduakos commented on #99
Meaningful error message in 60a0400

[2019-10-11 14:57] hajduakos opened #101 "Initialize new memory arrays with const array"
Memory arrays are now set to default value only if the size is a compile-time constant. However, we could use SMT const arrays for the general case just as we use it for initializing storage arrays in the constructor. This will make the analysis more precise. E.g.: `ArraysMemWarning.sol`

[2019-10-11 16:14] hajduakos commented on #101
Done in db97d5f

Test cases: `ArraysMemDynamic.sol` and `ArraysMemWarning.sol`. In the latter case a warning is given becuse default value is not yet supported for reference types.

[2019-10-11 19:32] dddejan commented on #101
[code]

Currently gives

[code]

Doesn't seem like the default allocation is done here.

[2019-10-11 22:26] hajduakos opened #102 "Default values for uninitialized memory struct"
[code]

[code]
(Asserts should hold)

[2019-10-11 22:29] hajduakos commented on #101
Yes, that was missing. Default allocation was only done for `new` expressions. In ac65a2c
it is also done for uninitialized memory arrays. Not yet working for uninitialized memory structs, but I created a new issue for that #102

[2019-10-13 19:18] #101 closed, assigned to hajduakos

[2019-10-13 19:18] #100 closed, assigned to nobody

[2019-10-17 02:16] suhabe opened #104 "Annotation for specifying reverts"
How can I write solc-verify annotations for the following function to specify that the function reverts when `a>=10`?

[code]

[2019-10-17 02:20] suhabe opened #105 "Support for relevant aspects of ecrecover"
Can solc-verify handle the [ecrecover](https://solidity.readthedocs.io/en/latest/units-and-global-variables.html#mathematical-and-cryptographic-functions) function?

For example, how I can write annotations that specify that this function returns the recovered address if the signature components are valid and otherwise reverts?

[code]

[2019-10-17 02:36] dddejan commented on #105
The `ecrecover` function is currently treated as uninterpreted so there is no meaning attached to it's computation (see, e.g., [example](https://github.com/SRI-CSL/solidity/blob/boogie/test/solc-verify/basic/ECRecover.sol)).

It is unlikely that we will ever be able to reason about very specific properties such as "signature components are valid" in a generic way. Automated reasoning tools have se

[2019-10-17 15:31] dddejan commented on #104
This is an interesting question/featue.

First to clarify what's going on. The current approach we take is verification modulo successfully completed transactions. So, e.g, for a function postcondition, we try to prove that for any inputs where the function terminates "as expected", the postcondition holds. Simplifying a bit, we treat "as expected" to be "no assertion failures". Reverts are treate

[2019-10-17 16:38] dddejan opened #106 "Wrong report with local pointer to multidimensional array"
[code]

Currently:

[code]

[2019-10-17 16:57] dddejan opened #107 "Wrong report with local pointer to array of structs"
[code]

Currently:

[code]

[2019-10-17 22:20] hajduakos commented on #107
Fixed in 6f21e18bde597cab666db1f129b705c30b5f5b94

[2019-10-17 22:20] hajduakos commented on #106
Fixed in 6f21e18bde597cab666db1f129b705c30b5f5b94

[2019-10-17 22:54] #107 closed, assigned to hajduakos

[2019-10-17 22:54] #106 closed, assigned to hajduakos

[2019-10-17 23:34] hajduakos opened #108 "Support local pointers to arrays"
Currently we do not support local storage pointers to mappings. Furthermore, instead of reporting an error, we just do a deep copy when assigning to a local storage pointer of mapping type (which is wrong).

The following example should work:
[code]

[2019-10-17 23:41] hajduakos commented on #108
Implemented in 7b01918 for basic cases, see `test/solc-verify/arrays/MappingLocalStorage.sol`

Default context is not yet implemented (e.g. for libraries)

[2019-10-17 23:56] #108 closed, assigned to hajduakos

[2019-10-18 01:30] dddejan opened #109 "Default values for fixed size arrays"
[code]

Currently we get:

[code]

[2019-10-18 01:44] dddejan commented on #109
Note also that for deep structures like above, proper recursive allocation also ensures non-aliasing.

[code]

[2019-10-18 02:10] dddejan opened #110 "Support for delete of memory types"
[code]

Delete is currently unsupported. As it is basically initialization, it might not be too hard to support.

Currently:

[code]

[2019-10-26 13:19] michael-emmi opened #111 "Failure verifying postconditions on bodiless payable functions."
While bodiless non-payable functions like `f` below are happily translated to bodiless Boogie procedures, and verification skipped, bodiless payable functions like `g` are translated to Boogie procedures with bodies, thus triggering verification checks.
[code]

Ideally all bodiless functions (whether payable or not) would be translated to bodiless Boogie procedures, so that their checks are skippe

[2019-10-28 13:45] beillahi opened #112 "Support getter arguments"
It seems during the translation of the specification, the aliasing does not work for maps
(cc @michael-emmi)
[code]

[2019-10-28 14:47] hajduakos commented on #112
I think the issue here is caused by the getter argument (`a` in `t2.t(a)`). As far as I remember, we did not implement getter arguments. I will check.

[2019-10-28 14:49] hajduakos commented on #112
Previously we reported a meaningful error ("getter arguments not supported"), but then I fiddled around a bit to support getters in specs, and now we just seem to ignore the arguments which causes an error in the translation.

[2019-10-28 15:10] beillahi commented on #112
Yes, that's right, it works for elementary types but not maps

[2019-10-28 18:35] hajduakos commented on #111
Fixed in 2e44716b2de83f42dff2597855e02943236424a8

[2019-10-28 21:20] hajduakos commented on #112
What kind of arrays/mappings do you have? As long as they map to primitive types (even if they are multidimensional), it seems easy to solve. But if structs are involved, it seems to get complicated: https://solidity.readthedocs.io/en/v0.5.12/contracts.html#getter-functions, for example check out the `contract Complex` example: the struct is actually split up to a tuple.

[2019-10-29 05:57] beillahi commented on #112
Not as complicated as in the complex example. In our case, the arrays and maps involve only primitive types and no structs are necessary

[2019-10-29 10:42] hajduakos commented on #112
Done in 06eac49278b9b71aeda5cfc3294e95f5359489c8 for mappings/arrays, possibly nested/multidimensional, but no structs. Check out test cases `test/solc-verify/basic/GetterArgs.sol` and `test/solc-verify/specs/GetterArgsInSpec.sol`

[2019-10-29 11:08] beillahi commented on #112
Yes, it works now for the example. Thanks

[2019-10-29 11:22] #112 closed, assigned to hajduakos

[2019-10-29 11:49] hajduakos opened #113 "Member accesses on local storage arrays"
Local storage pointers to arrays are properly unpacked when indexing into the array. However, arrays have `length`, `push` and `pop` members, where unpacking is not yet done.

[code]

[code]

[2019-10-29 12:44] michael-emmi commented on #111
Works now, thanks!

[2019-10-29 13:39] #111 closed, assigned to hajduakos

[2019-11-02 09:21] hajduakos commented on #113
Fixed in 0543646

[2019-11-02 09:21] #113 closed, assigned to hajduakos

[2019-11-04 14:39] hajduakos commented on #71
Readme extended in b7d3177, including an example

[2019-11-04 14:39] #71 closed, assigned to hajduakos

[2019-11-21 22:34] hajduakos opened #114 "Side effects for default values"
Currently the helper function for default values returns simply an expression. However, in many cases default values have side effects: e.g., allocation, element/member initialization, which is currently done "manually" all around the code. Instead, the default value helpershould be able to return statements (and maybe declarations) as side effect. This would make it easier to implement default va

[2019-11-21 22:35] hajduakos commented on #102
Works in af8257d if there is no nesting, closing this issue. See #114

[2019-11-21 22:35] #102 closed, assigned to hajduakos

[2019-11-27 08:51] hajduakos opened #115 "Havoc contract balance for external calls"
When an external call is made, we havoc state variables, but not the balance:
[code]

[2019-11-27 09:45] hajduakos commented on #115
And since we are havocing state vars, the sum shadow variables should also be havoced

[2019-11-27 12:50] hajduakos commented on #115
Fixed in 7ea853b

[2019-11-27 12:50] #115 closed, assigned to hajduakos

[2019-11-30 13:30] hajduakos opened #116 "Default value of return values"
Return variables should be initialized to default value:
[code]

Currently solc-verify reports the assert to fail.

[2019-11-30 13:30] hajduakos opened #117 "Precondition on return value in modular arithmetic"
In modular arithmetic we add range assumption preconditions for variables appearing in the postcondition. However, we should not do this for the return values because Boogie cannot access them in preconditions:
[code]

[code]

I think we can just skip these preconditions and instead add them as assumes in the beginning of the function. Or it might even not be needed if return values are properly i

[2019-12-03 15:42] beillahi opened #118 "Internal call to contract selfdestruct"
[code]

[2019-12-03 15:42] beillahi opened #119 "Support for solidity global variables"
[code]

and

[code]

[2019-12-03 15:42] beillahi opened #120 "Require statement with constant string field"
[code]

[2019-12-04 13:48] hajduakos commented on #119
Can we treat these special members as nondeterministic variables (so that there is no error)? Or do you need some special assumptions on them?

[2019-12-04 13:49] hajduakos commented on #120
I'll have to check but I think we can just simply ignore the second argument of `require` as it is only a message.

[2019-12-04 13:58] beillahi commented on #119
Giving these variables nondeterministic values should be fine

[2019-12-05 16:29] dddejan commented on #118
We can encode transfer of value, no big deal. Specifying the behavior past that can be part of #104.

[2019-12-22 13:55] hajduakos opened #121 "Fix Boogie build"
There are some changes happening in Boogie (seems like they are switching to .NET core) and the latest version causes our build to fail. Until we fix it, an older version of Boogie (e.g. [9e74c32](https://github.com/boogie-org/boogie/commit/9e74c3271f430adb958908400c6f6fce5b59000a)) should be used.

[2019-12-24 10:00] hajduakos opened #122 "this.balance in Truffle"
There is a Truffle test failing (`Payable.sol`). I isolated the issue, and seems like `address(this).balance` generates an invalid opcode. Even the following very simple example fails with Truffle:
[code]

There was a change in [v0.5.13](https://github.com/ethereum/solidity/releases/tag/v0.5.13) in the opcode:

So there might be some mismatch between the EVM version the compiler targets and the on

[2019-12-24 19:01] dddejan commented on #122
Good catch, I was baffled at what's going on. If I change the version to petersburg the test passes. Let's keep this open, we need to upgrade to istanbul when truffle allows.

[2020-01-13 21:54] dddejan opened #123 "strings not passed/returned/cast properly to/from functions/modifiers"
[code]

gives

[code]

[2020-01-14 13:25] hajduakos opened #124 "Evaluation order in assignments"
Seems like the evaluation order is RHS first for assignments:
[code]
Truffle passes, but solc-verify fails.

[2020-01-14 13:35] hajduakos commented on #124
Fixed in eb4f661 also added a test case

[2020-01-14 13:35] #124 closed, assigned to hajduakos

[2020-01-15 21:21] hajduakos commented on #39
Will be disallowed in 0.7, see https://github.com/ethereum/solidity/issues/7739

[2020-01-15 21:24] #39 closed, assigned to nobody

[2020-01-16 21:10] dddejan commented on #123
Another example

[code]

Currently gives

[code]

[2020-01-16 21:19] dddejan commented on #123
Another example

[code]

Currently gives

[code]

[2020-01-16 21:33] dddejan commented on #27
This is actually quite common, so I'm marking as a bug.

[2020-01-16 21:40] dddejan commented on #123
Another example

[code]

Gives

[code]

[2020-01-16 21:47] dddejan opened #125 "call to undeclared procedure: blockhash"
support

[2020-01-16 21:48] dddejan opened #126 "call to undeclared procedure: gasleft"
support

[2020-01-16 21:55] dddejan opened #127 "Error: undeclared identifier: msg"
[code]

Gives

[code]

[2020-01-17 11:03] hajduakos commented on #127
Fixed in add359a

[2020-01-17 12:25] #127 closed, assigned to nobody

[2020-01-17 15:21] dddejan opened #128 "don't havoc constants"
[code]

Currently does

[code]

becuase the call hovocs the state (including constant)

[code]

[2020-01-17 15:36] dddejan opened #129 "Struct and constructors from other contracts"
[code]

Gives

[code]

[2020-01-17 15:56] hajduakos commented on #128
Fixed in d32cf77

[2020-01-17 16:13] hajduakos commented on #129
Fixed in edf21dc

[2020-01-17 17:49] #128 closed, assigned to hajduakos

[2020-01-17 17:50] #129 closed, assigned to hajduakos

[2020-01-22 16:04] dddejan opened #130 "call to undeclared procedure: address_0x..."
[code]

Gives

[code]

Surprisingly, if I replace the address with `0x0`, then I get

[code]

[2020-01-22 16:24] dddejan opened #131 "complex modifiers and variable redeclarations"
[code]

Gives

[code]

[2020-01-22 17:14] dddejan opened #132 "constructor calls with additional msg parameters"
[code]

Gives

[code]

[2020-01-23 08:58] hajduakos opened #133 "Further dereferencing local storage pointer"
Currently, the base identifier of an expression to be used as a local storage pointer has to refer to a state variable. Therefore, the following does not work:
[code]

[2020-01-23 15:37] dddejan opened #134 "Constants should not be indexed in packing/unpacking"
[code]

Currently gives

[code]

[2020-01-23 15:37] dddejan commented on #133
See #134 for another corner case when you work this out.

[2020-01-23 15:51] hajduakos commented on #133
Works for this simple case (as of 48fb6b3), when the type of the base pointer (`S`) only appears as a state variable without being inside an array or another struct. Will go for these cases now and only close the issue if those work out as well.

[2020-01-23 23:28] hajduakos commented on #131
We had extra scoping for inlined modifiers, but not for the inlined function body. Fixed in 71f70b9.

[2020-01-24 00:38] #131 closed, assigned to nobody

[2020-01-27 15:57] dddejan opened #135 "support for addmod"
[code]

Currently gives

[code]

From documentation `addmod(uint x, uint y, uint k) returns (uint)`: compute (x + y) % k where the addition is performed with arbitrary precision and does not wrap around at 2**256. Assert that k != 0 starting from version 0.5.0.

[2020-02-07 13:35] hajduakos commented on #134
Fixed in 21c9123ad3dc83d9dedda10b97ac28bc380ae75a

[2020-02-07 13:36] hajduakos commented on #133
Implemented in 4d29c29f8c3121ed2d93ccafb6c12d875cc4b3bd, opening a PR

[2020-02-12 15:05] #133 closed, assigned to nobody

[2020-02-12 15:05] #134 closed, assigned to nobody

[2020-03-09 10:33] hajduakos opened #137 "Friendlier messages when implicit constructor cannot be created"
If there is an unsupported feature in a function, we give a quite user friendly message and skip that function. However, implicit constructors are generated separately and for them this is not done, but rather some confusing errors are printed.

For the following contracts

[code]

we get the output

[code]
The first error and warning corresponds to skipping the constructor of `Base`. However ther

[2020-03-09 10:34] hajduakos commented on #137
If we add the constructor explicitly, it works:
[code]

gives

[code]

Output should be similar if the constructor is implicit.

[2020-03-10 21:25] hajduakos commented on #137
Fixed in 4beece6

[2020-03-16 15:45] hajduakos commented on #120
This is actually a special case of #123

[2020-03-24 09:10] #121 closed, assigned to nobody

[2020-03-26 19:11] hajduakos commented on #61
Fixed by #139

[2020-03-26 19:11] #61 closed, assigned to nobody

[2020-04-09 02:48] dddejan opened #140 "TCCs for array return values"
[code]

[2020-04-09 08:27] hajduakos commented on #140
This seems to be a special case of #117, marked it as duplicate

[2020-04-15 14:24] hajduakos opened #141 "Event neither specified, nor emitted"
This example passes, but should fail because `f` should emit`changed` as it changes `data`.
[code]
Te problem is that we loop through all the declared `emits` for a function and add the event specs corresponding to those events. However, this way if the developer neither declares nor emits an event, the variable can still be changed. We should also loop through all the variables modified by the fu

[2020-04-15 14:27] hajduakos commented on #140
Assuming postcondition TCCs (f8adb1b6e3fc181b155c807f1dc7a6c50d9d0916) should now fix this and also #117. Currently all postcondition TCCs are added as an assume instead of preconditions. This way we might not detect if we mess up something with the translation and variables are out of range when calling a function. We could improve this by detecting if a TCC has return value in it and if yes add

[2020-04-21 20:03] dddejan commented on #141
Should be fixed, close if it's OK.

[2020-04-21 20:03] #140 closed, assigned to hajduakos

[2020-04-21 21:52] hajduakos commented on #117
Fixed by f8adb1b

[2020-04-21 21:52] #117 closed, assigned to hajduakos

[2020-04-21 21:57] #141 closed, assigned to nobody

[2020-04-27 12:27] hajduakos opened #142 "Implicit constructor for libraries"
We seem to generate an implicit constructor for every contract node, even if its kind is a library. I think we can remove it from libraries as they do not have any state. It does not harm, but introduces a confusing line on the output:
[code]

[code]

[2020-04-27 12:46] hajduakos commented on #142
It is actually possible to call a library's constructor (for deployment, see #15). I think we can just inline them, in this case they will not appear in the output.

[2020-04-27 14:19] dddejan commented on #142
Seems simplest. There is no actual constructor for libraries, so you could just skip it. The `new` statement will deploy the code and return the address, but that's it.

[2020-04-28 08:35] hajduakos commented on #142
Done in 2be98d6f3474217aa9605fc1ec2932f1563fffe0. Currently, I still generate and call the (empty method), but I inline it so it does not appear as a "proved" function in the output. This makes the transformation more uniform and easier. But later we might just completely remove it.

[2020-04-28 08:35] #142 closed, assigned to hajduakos

[2020-05-08 13:54] dddejan opened #143 "Quantifiers and TCCs"
[code]
The quantified variables should include TCCs by default, regardless of any options.

[2020-05-22 20:32] dddejan commented on #143
This is much more complicated then I first though. @hajduakos let's discuss.

[2020-06-06 00:13] dddejan opened #145 "Run boogie in parallel with different solvers"
For usability, it would be preferable to check procedures individually and run in parallel with different solvers. This can be done with boogie `/proc:<p>` option that selects which procedure to check.

The workflow would be:
- Compiler produces BPL and list of procedures to analyze
- For each procedure to analyze run all boogie/solver combination with timeout, take fastest result, kill others.

[2020-06-16 18:40] dddejan opened #146 "Issue with casting and verifier functions"
[code]

Gives

[code]

The culprit is the old expression `bvzeroext_8_to_256(x#3[__this]) == old(x#3[__this])`.

[2020-06-16 18:43] hajduakos commented on #146
#85 is also related

[2020-06-16 18:46] hajduakos commented on #146
A straightforward solution would be of course to have `__verifier_old_uintN` for `N=8, ..., 256`. But if I remember correctly, our plan was to rather support some kind of polymorphism.

[2020-06-16 18:47] dddejan commented on #146
This happens because in the case of `VERIFIER_*` functions there is an `if` statement when converting arguments that skips temp variables for arguments. I guess this is a hack to prevent side-effects. We need a more pragmatic way to deal with functions that can be used in specification. I am trying to figure out, e.g., how to use `keccak` in specification and I'm running into similar issues.

[2020-06-16 18:52] hajduakos commented on #146
Incorporating those temp variables could make this example work, because it would translate to `bvzeroext_8_to_256(x#3[__this]) == old(bvzeroext_8_to_256(x#3[__this]))`. However, this would not work for #85. What we'd really like to have here is `x#3[__this] == old(x#3[__this])`, i.e., no casts at all. For this, we would need the Solidity AST for the spec expression to have the old expression retu

[2020-06-16 18:56] hajduakos commented on #146
Of course there might be some special functions where the casting is needed, e.g., if `keccak` takes `uint256` then the temp variables should be included because those will do the cast. But for `old`, there should be no casting.

[2020-06-23 11:41] hajduakos commented on #143
This seems to be working on the `merge` branch. At least there are no syntax errors related to missing identifiers. Verification succeeds: there are some specs that do not hold, but those seem acceptable. @dddejan could you check and close the issue?

[2020-06-23 12:12] zhao-nan opened #147 "solc-verify reports mismatched types"
## Description
When calling solc-verify.py on the example code below, it gives an error message:
`out/Err.sol.bpl(37,1): Error: mismatched types in assignment command (cannot assign int_arr_type to int_arr_ptr)`

    pragma solidity >=0.5.0 <0.6.0;

    contract Thing {
        string public id;
    }

    contract otherThing {
        function f(Thing t)
            public view returns(string mem

[2020-06-23 12:17] hajduakos commented on #147
Thanks for reporting! To me it seems like this is related to #123, namely not handling strings properly when passed around or returned.

[2020-06-23 14:11] #143 closed, assigned to nobody

[2020-07-09 15:52] dddejan opened #148 "Event tracking doesn't handle references"
[code]

In the contract above, function f should emit the event but it doesn't, this should be reported as error. Current version says

[code]

We need to check if the reference potentially updates the tracked data which is currently not done.

[2020-07-13 17:56] dddejan commented on #145
I did a first draft of per-procedure verification in `merge` branch. Next step to cleanup to the point where we can run multiple solvers.

[2020-07-24 15:06] dddejan opened #150 "Error: Unsupported emit statement, could not determine event"
[code]

gives

[code]

[2020-07-24 15:31] dddejan opened #151 "Unsupported identifier as base of local storage pointer"
[code]

[code]

[2020-07-24 15:34] dddejan opened #152 "internal exception: Expected tuple as RHS"
[code]

[code]

[2020-07-24 15:40] dddejan commented on #147
#123 is related to string literals (which are not arrays). The issue here is that the getter function `.id()` is currently modeled as directly giving the contract member (storage). In reality, for non-value types, the getters will return the corresponding memory version.

[2020-07-24 15:41] dddejan commented on #145
Closing this for now. Needs improvements, but will work it out separately.

[2020-07-24 15:41] #145 closed, assigned to dddejan

[2020-09-13 17:14] hajduakos opened #153 "[0.7] Error in solidity::frontend::Visibility"
Many contracts fail with
[code]
For example `arrays/ArrayInit.sol`

[2020-09-13 17:18] hajduakos opened #154 "[0.7] Identifier this not visible for function annotations"
Seems like `this` is not available for function annotations.

For example `arrays/ArraysPushPop.sol` gives

[code]

[2020-09-13 17:22] hajduakos opened #155 "Inheritance of specs in overloaded functions"
`basic/ExplicitScopings.sol` gives

[code]
where `y` is the return value of the annotated function

[2020-09-13 17:26] hajduakos opened #156 "[0.7] Loop annotations are missing"
Loop annotations do not get translated to Boogie specs, this results in both false negatives/positives. Examples: `basic/Loops.sol`, `examples/Annotations.sol`

[2020-09-13 17:29] hajduakos opened #157 "[0.7] Segmentation faults"
`examples/BinarySearch`, `specs/ArrayProperties.sol`, `specs/CaseAnalysis.sol`, `specs/Quantifiers.sol` give segmentation fault, e.g.:

[code]

[2020-09-13 17:30] hajduakos opened #158 "[0.7] Identifier this not available for contract annotations"
For example, `examples/SumOverStructMember.sol` gives

[code]

[2020-09-13 17:33] hajduakos opened #159 "[0.7] Base contract member not visible in function annotation"
`specs/ModifiesInheritance.sol` gives

[code]

Where `x` is the member of base contract

[2020-09-13 17:34] hajduakos opened #160 "[0.7] Only allowed integer magic identifier is 'now'"
`specs/SumPushPop.sol` gives

[code]

[2020-09-13 17:35] hajduakos opened #161 "[0.7] Wrong result with repacking"
`structs/LocalStorageRepack.sol` reports an assertion failure which should hold.

[code]

[2020-09-13 17:37] hajduakos opened #162 "[0.7] Unsupported special member: timestamp"
Since 0.7 "The global variable now is deprecated, block.timestamp should be used instead.", however we do not support that yet, see `transactions/SpecialMembers.sol`:

[code]

[2020-09-14 19:46] dddejan commented on #153
`arrays/ArrayInit.sol` is fixed in a8c7207671e1e488ee8b0d3032ddcd6fb3ff885b.

[2020-09-29 10:02] hajduakos commented on #153
As of 60575f7, I do not see this error anymore, so I close this one

[2020-09-29 10:02] #153 closed, assigned to nobody

[2020-09-29 11:19] hajduakos commented on #160
The problem here is the following: The type checker has a check whether an identifier that is a magic variable, is of type integer. If yes, it [_asserts_](https://github.com/SRI-CSL/solidity/blob/60575f776d269e01891bd2fa0e02f9fd73c72ebb/libsolidity/analysis/TypeChecker.cpp#L3113) that it has to be named `"now"` and then reports a deprecation error to use `block.timestamp` instead. So it seems like

[2020-10-02 16:05] #154 closed, assigned to nobody

[2020-10-02 17:15] dddejan commented on #155
[code]

This is happening because `B::g` overrides `A::g` and seems to inherits the tags (and hence the spec) of  `A::g`.

[2020-10-02 17:31] dddejan commented on #155
Bug that might be related https://github.com/ethereum/solidity/issues/9947

[2020-10-02 17:35] dddejan commented on #158
Fixed in ff4badf5b87490eead5be5ca829533042e13fb0b

[2020-10-02 17:35] #158 closed, assigned to nobody

[2020-10-02 18:07] #159 closed, assigned to nobody

[2020-10-02 18:42] dddejan commented on #157
Segfault fixed, but examples still fail because of #156

[2020-10-02 18:42] #157 closed, assigned to nobody

[2020-10-02 19:00] dddejan opened #163 "[0.7] Support for function options (gas, value, salt, ...) is broken (FunctionCallOptions)"
[code]

[code]

The unhandled node is `FunctionCallOptions`

[2020-10-02 19:14] dddejan commented on #160
Simple solutions is probably best. We can figure out a better solution later.

[2020-10-02 20:35] dddejan commented on #156
fixed in 7391c4e53ba07188ad0f2b377b371757a445ea25

[2020-10-02 20:35] #156 closed, assigned to nobody

[2020-10-02 20:53] hajduakos commented on #160
Fixed it with the simple solution in a75b4a8226601480315a0ad462c8ffb9b7e83390

[2020-10-02 20:53] #160 closed, assigned to hajduakos

[2020-10-02 22:14] hajduakos commented on #161
Was tricky to find, but there was a mismatch between indexes due to replacing a loop. Fixed in 530e16a

[2020-10-02 22:14] #161 closed, assigned to hajduakos

[2020-10-02 23:41] dddejan commented on #161
Ah sorry about that. I had a feeling that loop replacement was not a good idea but didn't go back to check.

[2020-10-03 09:03] hajduakos commented on #163
Fixed in b16869c396d3b04937a4bba4ccbff34515f95f01 We support `value`, and ignore the rest (e.g., `gas`) with a warning, just as previously. This is actually a nice improvement in the compiler, which made our code a bit cleaner.

[2020-10-03 09:03] #163 closed, assigned to hajduakos

[2020-10-03 09:31] hajduakos opened #164 "[0.7] Add more informative error messages for unsupported new features"
There are some AST nodes where our visitor is not defined and gives an internal exception "Unhandled node (unknown)". We should give some more meaningful error messages (e.g., "Try-Catch is not yet supported") until we provide support. Such elements include:
- OverrideSpecifier
- TryCatchClause
- TryStatement
- IndexRangeAccess
- StructuredDocumentation

[2020-10-03 09:43] hajduakos commented on #162
Fixed in 06a2252c348440a6ae347ab09e73d2e22513ebd6, `now` was removed and `block.timestamp` was added

[2020-10-03 09:43] #162 closed, assigned to hajduakos

[2020-10-03 10:45] hajduakos commented on #164
Done in 280e9e0b7009920c86003141781d042afb47ecd1

[2020-10-03 10:45] #164 closed, assigned to hajduakos

[2020-10-09 12:35] zhao-nan commented on #147
Is this likely to be fixed at some point? We're doing a smart contract verification case study. For some parts, solc-verify would be the obvious choice and should work very well (judging from my experience), but at present this bug prevents us from using it.

[2020-10-09 12:47] zhao-nan opened #165 "Postcondition of function with function call not verifiable"
## Description
    pragma solidity >=0.5.0 <0.6.0;
    contract Test {
      int res;

      /// @notice postcondition res == x + 1
      function callInc(int x) public returns (int) {
          res = inc(x);
      }

      /// @notice postcondition res == x + 1
      function inc(int x) public returns (int) {
          res = x+1;
      }
    }

In the above contract, both function contracts shoul

[2020-10-09 13:03] dddejan commented on #165
Function inc doesn't return anything, the way you wrote the contract both functions write into a state variable but always return zero.

[2020-10-09 13:08] dddejan commented on #165
To refer to the return value you need to name the return value 'returns (int res)'.

[2020-10-09 13:37] dddejan commented on #165
The following contract verifies fine

[code]

[2020-10-09 13:37] #165 closed, assigned to nobody

[2020-10-16 20:11] hajduakos commented on #147
@zhao-nan I will check. I think we need to do some conversion around here https://github.com/SRI-CSL/solidity/blob/7ffe52527eefcc4567ec6cff4ec9d7bfcb9dcb12/libsolidity/boogie/ASTBoogieExpressionConverter.cpp#L1375

[2020-10-16 21:12] hajduakos commented on #147
@zhao-nan was fixed in bc1465b

I'm gonna leave the issue open, because we also have to port this fix to the `0.7` branch

[2020-10-17 12:57] hajduakos commented on #147
Fixed on `0.7` as well. @zhao-nan can you please check and close the issue if it works? I've added your example as [Issue147.sol](../blob/boogie/test/solc-verify/issues/Issue147.sol)

[2020-10-21 08:20] zhao-nan commented on #147
Everything working now. Great, thanks!

[2020-10-21 08:20] #147 closed, assigned to hajduakos

[2020-10-21 09:45] hajduakos commented on #151
Fixed in 581f6cd (on the `0.7` branch)

[2020-10-21 10:09] hajduakos commented on #150
Fixed in 543814a (on `0.7` branch)

[2020-10-22 15:45] dddejan commented on #155
I've fixed the test case, but the issue of inheriting the specs is very complicated and needs to be discussed.

[2020-10-22 15:47] #151 closed, assigned to hajduakos

[2020-10-22 15:48] #150 closed, assigned to hajduakos

[2020-12-08 17:44] nelaturuk opened #166 "Enum definition not found internal exception"
pragma solidity >=0.5.0;

contract Test {
    enum B { A }

    struct AA {
        B s;
    }

    AA private _aa;

    function test() public view {
        B b = _aa.s;
    }
}

======= Converting to Boogie IVL =======

======= ./solci-verify-experiments/tests/test.sol =======
solc-verify internal exception: Enum definition not found
Details:
/solidity/libsolidity/boogie/ASTBoogieExpressionConv

[2020-12-09 16:09] dddejan commented on #166
Thanks for reporting. Should be fixed. @nelaturuk please check and close if it works.

[2020-12-09 18:18] nelaturuk commented on #166
Thank you. The fix works.

[2020-12-09 18:18] #166 closed, assigned to nobody

[2021-02-12 19:39] nelaturuk opened #168 "undeclared identifier: __verifier_idx_uint error with --arithmetic mod option"
[code]

Command: ```solc-verify.py test.sol --arithmetic mod```

![image](https://user-images.githubusercontent.com/3939682/107814352-c4612480-6d3f-11eb-88f9-49185e68c998.png)

[2021-02-12 21:47] hajduakos commented on #168
Hi @nelaturuk,

Can you try `/// @notice invariant __verifier_sum_uint(items) >= total`? If the array contains integers `__verifier_idx_uint` is not needed. It is only required if your array/mapping contains structs, and you want to pick some field of the struct, see [example](https://github.com/SRI-CSL/solidity/blob/0.5/test/solc-verify/examples/SumOverStructMember.sol).

[2021-02-12 22:12] nelaturuk commented on #168
That works. Thank you.

[2021-02-12 22:12] #168 closed, assigned to nobody

[2021-02-17 17:56] zhao-nan opened #169 "Parser error: quantifiers after other expressions or in parentheses"
## Description

When a quantifier is preceeded by another term, or when it is in parentheses, a parser error is thrown.

## Steps to Reproduce

[code]
When the equality in the postcondition is flipped ...
[code]
... or when the quantifier term is in parentheses ...
[code]
... a parser error happens:
[code]

[2021-02-17 18:10] zhao-nan opened #170 "Verification of existentially quantified postcondition fails"
[code]

The above should be verifiable, but solc-verify reports that the postcondition might be violated.

[2021-02-17 19:12] dddejan commented on #169
Duplicate of #170

[2021-02-17 19:12] #169 closed, assigned to nobody

[2021-02-17 19:16] dddejan commented on #170
@zhao-nan The support for quantifiers is limited to [prenex form](https://en.wikipedia.org/wiki/Prenex_normal_form): all quantifiers are at the front. The postcondition you wrote doesn't parse as you would like to, instead it states that (note the extra brackets).

[code]

The reasons for this are rather technical (we rely on the compiler to parse expressions). Basically we parse the quantifiers f

[2021-02-17 19:58] dddejan commented on #170
Here is a spec that should prove what you'd like (I think). It's a bit verbose.

[code]

Then, I can prove it with cvc4

[code]

[2021-02-17 20:18] dddejan commented on #170
Actually, your original spec can also be proved with a strengthened invariant

[code]

[code]

[2021-02-17 20:21] dddejan commented on #170
Quantified specs are generally hard to get right and push through. To illustrate the problem with the spec you provided, we can prove the following.

[code]

[2021-02-18 08:19] zhao-nan commented on #170
Thanks for your explanation, and especially for the example! I agree that quantified specifications are challenging. That makes it very hard to reason about any program with loops over arrays, though. (Although in Solidity, these don't happen as often as in other programming languages.. but they still exist!)
Thanks again for the very quick reply!

[2021-02-18 08:19] #170 closed, assigned to nobody

[2021-09-06 09:39] dongyu123 opened #171 "Support for encode function"
- First, much thanks to your contribution.
- But I find encode function is not supported.
- My contract is `test/libsolidity/semanticTests/abiEncoderV1/abi_encode_call.sol`
[code]

  and the result is
[code]
- My command is `solc-verify.py test/libsolidity/semanticTests/abiEncoderV1/abi_encode_call.sol`
and my branch is 0.8.
- Would you tell if encode function is not supported, or my command is wr

[2022-03-03 12:34] thomas-genet opened #172 "For solc-verify, Docker file needs an update?"
## Description

I tried to build solc-verify from the Docker file `docker/Dockerfile-solcverify.src` and the command line:

```docker build -t solc-verify -f docker/Dockerfile-solcverify-local.src . ```

But it fails on my computer.

## Steps to Reproduce

[code]

I am wondering wether this Docker file has been updated recently? However, since I am new to Docker, I may do something wrong but I man

[2022-03-03 14:21] hajduakos commented on #172
Thanks for reporting. We haven't checked the docker file for a while, seems like there is an issue with Z3. I will take a look soon.

[2022-03-03 14:30] thomas-genet commented on #172
Thank you very much!

[2022-03-03 14:38] hajduakos commented on #172
Seems like latest releases do not have an Ubuntu binary. We'd have to investigate, but as a quick solution, can you try replacing `latest` with `36678822` in the following line of `docker/Dockerfile-solcverify.src`?

https://github.com/SRI-CSL/solidity/blob/0106cfb19b1c30f394ae0e3ed27ac36727502475/docker/Dockerfile-solcverify-local.src#L25

In other words, that line should be
[code]

This would us

[2022-03-03 14:54] thomas-genet commented on #172
This is better. However it fails on Boogie this time :-)

[code]

[2022-03-08 12:48] thomas-genet commented on #172
If this is too complex to repair, I would be happy to download a docker image already built to play a bit with solc-verify. Is it available somewhere?

Best,

Thomas

[2022-05-26 12:07] thanhtoantnt opened #173 "solc-verify: UNKNOWN_PROCESS_ERROR when running examples"
## Description
When I run `solc-verify.py test/solc-verify/examples/Annotations.sol` the results are
`C::add_to_x: UNKNOWN_PROCESS_ERROR`
`C::add: UNKNOWN_PROCESS_ERROR`
`C::[implicit_constructor]: UNKNOWN_PROCESS_ERROR`
`C::[receive_ether_selfdestruct]: UNKNOWN_PROCESS_ERROR`.

I follow the instructions to install `solc-verify` with no problems. Other examples have the same `UNKNOWN_PROCESS_ERROR

[2022-05-27 03:23] thanhtoantnt commented on #173
Closed since I resolved the issue

[2022-05-27 03:23] #173 closed, assigned to nobody

[2022-06-02 21:00] jcrreis commented on #172
Hello, I have the same problem as @thomas-genet , can't run Dockerfile it fails when installing Boogie. Did you find any workaround or is the project dead?

Thank you

[2022-06-02 21:12] hajduakos commented on #172
Hi @thomas-genet and @jcrreis !

Sorry, as of now, we are not really working on this project actively. Seems like the issue is that the latest versions of Boogie are not compatible anymore with .NET core 3.1. Also, they seem to not support CVC4 anymore (but support CVC5, which we didn't experiment with). Probably, this line could be modified:

https://github.com/SRI-CSL/solidity/blob/0106cfb19b1c3

[2022-06-02 21:48] hajduakos commented on #172
Seems like my above comment solves the issue with Boogie. However, the CVC4 repo now redirects to the CVC5 repo, so instead CVC4-archived should be used. I'm testing that fix. If it works, I'll make a commit.

[2022-06-02 22:15] hajduakos commented on #172
@thomas-genet @jcrreis can you please try my latest commit [8ea107c](https://github.com/SRI-CSL/solidity/commit/8ea107cecd90ffff0d6a8f276b434b5ac9aa043b)?

To me it works:

From root dir, execute
[code]

Outputs something like:
[code]

[2022-06-03 18:29] jcrreis commented on #172
Hello @hajduakos ,
I can confirm that your commit is indeed working. Thank you for the support.

[2022-06-03 21:11] jcrreis commented on #172
Hello again @hajduakos ,

I think I found a bug using this tool for solc 0.8.0

I tried to verify this contract:

[code]

And got the following output:

[code]

Shouldn't the tool return an invariant might not hold, since this contract is vulnerable to a reentrant attack?

I see that you committed to 0.7 branch, but I would like to run this in more recent solidity versions that doesn't have to dea

[2022-06-04 10:51] hajduakos commented on #172
@jcrreis Hey! Yes, unfortunately the `0.8` branch is not stable yet, we started experimenting with it but stopped actively working on it. Sometimes I do some small patches to `0.7` but as of now, we do not have plans for `0.8`.

Closing this issue, but feel free to open new ones should there be further issues.

[2022-06-04 10:51] #172 closed, assigned to hajduakos

[2022-06-08 20:17] jcrreis opened #174 "Error when trying to verify a contract that uses tx.origin state variable"
Hello again,

I'm trying to verify the following contract with solc-verify, but it is returning to me an error, that i guess is because this tool can't deal with tx.origin, can you confirm?

Code:
[code]

Command:

[code]

output:

[code]

Also i get errors when using Selfdestruct and delegatecall solidity functions, all these functions were available in 0.7.*, so i'm confused why this tool can't

[2022-06-08 20:33] jcrreis commented on #174
Also I'd like to have another question answered if you don't mind... I could actually catch reentrancy in solidity 0.8.* versions, however it doesn't seem to work with transfer() and send() methods, as it always says the invariant might not hold..

[code]

Output after running solc-verify:
[code]

It is similar to send() function, always returns this when these functions are actually reentrant pro

[2022-06-14 14:30] jcrreis commented on #174
Sorry @hajduakos can you help me on this questions? I'm researching tools to verify smart contracts and this one seems promising and I would like to investigate it more :) Thank you

[2022-06-17 08:43] hajduakos commented on #174
Hi @jcrreis ! Sorry, I don't actively work on this project so it might take some time to reply.

There are a few thing that the tool can't deal with, even on the 0.7 version, including tx.origin, delegatecall and selfdestruct.

As for reentrancy in 0.8: it looks interesting. Does the same example work with 0.7?

[2022-06-18 15:14] jcrreis commented on #174
Hello @hajduakos ,

Thank you for your clarification.

About reentrancy i couldn't try in version 0.7, but I would say that it should be identical as 0.8, because there were not major changes to these functions in 0.8. Both send() and transfer() were also reentrant proof in 0.7. This should be a feature to look if you are going to make an update in a future.

I liked the idea behind this tool, whi

[2022-06-27 12:29] thomas-genet commented on #172
@hajduakos thank you for the update! Best.